{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="content__body">
        {{ .Content }}
    </div>
    <footer class="content__footer">
        <script src="https://giscus.app/client.js" data-repo="hyperparabolic/hyperparabolic.github.io" data-repo-id="R_kgDOM7mONA" data-category="Comments" data-category-id="DIC_kwDOM7mONM4Cv-YV" data-mapping="title" data-strict="0" data-reactions-enabled="0" data-emit-metadata="1" data-input-position="bottom" data-theme="catppuccin_macchiato" data-lang="en" crossorigin="anonymous" async></script>
    </footer>
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
    {{ if or (.Params.author) (.Params.date) }}
        <p>
            {{ if .Params.author }}By {{ .Params.author }}{{ if .Date }}, {{ end }}{{ end }}
            {{ if .Date }}{{ .Date.Format "2006-01-02" }}{{ end }}
        </p>
    {{ end }}

    {{ if and (.Params.toc) (.TableOfContents) }}
	    <hr>
	    On this page:
	    {{ .TableOfContents }}
    {{ end }}

    <hr>
    {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
    Tags:
    <ul>
      {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
      $taxonomy $tag) -}}
      <li>
        <a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
      </li>
      {{- end -}} {{- end -}}
    </ul>
    {{ end }}
{{ end }}
